.wrapper {
  width: 100%;
  height: 100%;
  max-width: $wrapperWidth + 80px;
  margin: 0 auto;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  @media (max-width: 414px) {
    padding: 0px 20px;
    max-width: $wrapperWidth + 40px;
  }
}

.btn {
  display: inline-block;
  color: $white;
  leading-trim: both;
  text-edge: cap;
  font-family: $mainFont;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 80px;
  background: $darkGreen;
  letter-spacing: -0.54px;
  padding: 1.3em 1.6em;
  border: 1px solid $darkGreen;
  transition: $defaultTransitionTime;
  cursor: pointer;
  &:hover {
    background: rgba(1, 104, 79, 0.06);
    color: $darkGreen;
  }
  &:active {
    transform: scale(0.96);
  }
}

.mobile-menu {
  display: none;
  &__nav {
  }

  &__nav-link {
  }

  &__socials-group {
  }

  &__socials-group-text {
  }

  &__socials {
  }

  &__socials-link {
  }

  &__btn {
  }
}

.header {
  width: 100%;
  padding: 20px 0px;
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   z-index: $headerZIdx;
  background-color: $white;

  &__logo-link {
    margin-right: auto;
  }

  &__tel-link {
    margin-right: 264px;
  }

  &__nav {
    margin-right: 180px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__nav-link {
    position: relative;
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.54px;
    transition: $defaultTransitionTime;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: rgba($color: $darkGreen, $alpha: 0.8);
      max-width: 0%;
      transition: $defaultTransitionTime;
    }
    &:hover {
      color: rgba($color: $darkGreen, $alpha: 0.8);
      &::after {
        max-width: 100%;
      }
    }
    &.active {
      color: $darkGreen;
    }
  }

  &__btn {
  }

  &__mobile-menu {
    display: none;
  }

  &__mobile-tel-link {
  }

  &__burger-btn {
  }
}

.tel-link {
  position: relative;
  color: $black;
  leading-trim: both;
  text-edge: cap;
  font-family: $mainFont;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.54px;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: rgba($color: $darkGreen, $alpha: 0.8);
    max-width: 0%;
    transition: $defaultTransitionTime;
  }
  &:hover {
    color: rgba($color: $darkGreen, $alpha: 0.8);
    &::after {
      max-width: 100%;
    }
  }
}

.page {
  //   padding-top: 97px;
}

.promo-section {
  padding-top: 100px;
  padding-bottom: 80px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 175px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__heading {
    margin-bottom: 299px;
    max-width: 755px;
  }

  &__small-text {
    color: rgba(0, 0, 0, 0.6);
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
  }

  &__gallery {
    max-width: 300px;
    margin-bottom: 192px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__gallery-img {
    width: 135px;
    height: 101px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }

  &__text-content {
    max-width: 445px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 24px;
    p {
      color: rgba(0, 0, 0, 0.6);
      leading-trim: both;
      text-edge: cap;
      font-family: $mainFont;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.54px;
    }
  }

  &__btn {
    width: 100%;
    max-width: 245px;
  }
}
.wrapper {
}
h1.heading,
h1 {
  color: $black;
  leading-trim: both;
  text-edge: cap;
  font-family: $addFont;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.56px;
}
.btn--icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  border: 1px solid $darkGreen;
  background: #f2f7f6;
  color: $darkGreen;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.48px;
  &:hover {
    background-color: $darkGreen;
    color: $white;
    path {
      fill: $white;
    }
  }
}

.image-section {
  margin-bottom: 120px;
  padding-bottom: 20px;
  background-image: url('../assets/img/image-section-background.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  &__img {
    width: 100%;
    max-width: 1840px;
    height: 1034px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }
}

.facts-section {
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 120px;
  border-bottom: 1px solid #e3e3e3;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__counter {
    margin-bottom: 40px;
  }

  &__col-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  &__text-content {
    p {
      color: $black;
      leading-trim: both;
      text-edge: cap;
      font-family: $mainFont;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: -0.9px;
    }
  }

  &__group {
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 0.5fr 0.25fr 0.25fr;
    gap: 20px;
    grid-template-rows: minmax(400px, 1fr);
  }

  &__group-item {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 97px;
    border-radius: 20px;
    background: $darkGreen;
  }

  &__group-item-label {
    padding: 0.61535em;
    color: $white;
    text-align: right;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.48px;
    border-radius: 30px;
    border: 1px solid $white;
  }

  &__group-item-counter {
    transition: 1s;
    color: $white;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: $addFont;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -2.4px;
  }
}
.counter {
  width: 2.5em;
  height: 2.5em;
  border-radius: 40px;
  border: 1px solid $darkGreen;
  color: $darkGreen;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: $mainFont;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 170% */
  letter-spacing: -0.6px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2.subheading,
h2 {
  color: $black;
  leading-trim: both;
  text-edge: cap;
  font-family: $addFont;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.96px;
}

.process-section {
  &__wrapper {
    width: 100%;
    max-width: 1840px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 80px 40px;
    border-radius: 20px;
    border: 1px solid $ligthGray;
    background: #f5f5f5;
  }

  &__counter {
    @extend .facts-section__counter;
  }

  &__sticky-content {
    position: sticky;
    left: 0;
    top: 47px;
  }

  &__col-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  &__heading {
    margin-bottom: 80px;
  }

  &__text-content {
    p {
      max-width: 445px;
      color: rgba(0, 0, 0, 0.6);
      leading-trim: both;
      text-edge: cap;
      font-family: $mainFont;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.54px;
    }
  }

  &__card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  &__ordered-card {
    position: sticky;
    right: 0;
    top: 47px;
    &:nth-child(2) {
      top: 47px + 30px;
    }
    &:nth-child(3) {
      top: 47px + 60px;
    }
    &:nth-child(4) {
      top: 47px + 90px;
    }
    &:nth-child(5) {
      top: 47px + 120px;
    }
  }
}

.ordered-card {
  width: 100%;
  height: 100%;
  padding: 39.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 70px;
  border-radius: 20px;
  border: 1px solid $ligthGray;
  background: $white;
  &__counter {
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $addFont;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -2px;
  }
  p {
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.54px;
  }
}

.offers-section {
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__col-group {
    width: 100%;
    display: grid;
    grid-template-columns: 32.61% 66.3%;
    gap: 16px;
  }

  &__heading {
  }

  &__accordeon-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__accordeon {
  }
}
.process-section {
  &__counter {
  }
}

.accordeon {
  width: 100%;
  border-top: 1px solid $ligthGray;
  padding: 30px 0px;
  cursor: pointer;
  transition: $defaultTransitionTime;
  &:active {
    transform: scale(0.96);
  }
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__counter {
    margin-right: 282px;
    color: $darkGreen;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.66px;
  }

  &__heading-group {
    position: relative;
  }

  &__heading {
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 127.273% */
    letter-spacing: -0.66px;
  }

  &__lot {
    position: absolute;
    right: -16px;
    top: -5px;
    color: rgba(0, 0, 0, 0.6);
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.48px;
  }

  &__content {
    // margin-left: 309px;
    // margin-top: 40px;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: $defaultTransitionTime;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 10px;
  }
  &.active {
    .accordeon__content {
      margin-left: 309px;
      margin-top: 40px;
      visibility: visible;
      opacity: 1;
    }
  }
}
.link {
  display: inline-block;
  border-radius: 30px;
  border: 1px solid $darkGreen;
  color: $darkGreen;
  leading-trim: both;
  text-edge: cap;
  padding: 0.6em;
  font-family: $mainFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.48px;
  transition: $defaultTransitionTime;
  &:hover {
    background-color: $darkGreen;
    color: $white;
  }
  &:active {
    transform: scale(0.95);
  }
}

.works-section {
  padding-bottom: 40px;
  border-bottom: 1px solid $ligthGray;
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__counter {
    @extend.facts-section__counter;
  }

  &__heading-field {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__text {
    color: rgba(0, 0, 0, 0.6);
    text-align: right;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
  }

  &__gallery {
    width: 100%;
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__gallery-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__gallery-card {
    width: 100%;
  }

  &__gallery-card-image-wrapper {
    width: 100%;
    height: 450px;
    display: inline-block;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
    &--large {
      width: 100%;
      height: 1034px;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  &__gallery-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: $defaultTransitionTime;
  }

  &__gallery-card-category {
    display: inline-block;
    margin-bottom: 20px;
    color: $darkGreen;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.42px;
  }

  &__gallery-card-heading-link {
  }

  &__gallery-card-heading {
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.66px;
  }

  &__gallery-row--reverse {
  }
}

.clients-section {
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__counter {
    @extend .facts-section__counter;
  }

  &__block-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 308px);
    gap: 20px;
  }

  &__block {
  }
  &__heading-field {
    width: 100%;
    margin-bottom: 200px;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__heading {
  }

  &__text-content {
    max-width: 910px;
    p {
      color: $black;
      leading-trim: both;
      text-edge: cap;
      font-family: $mainFont;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: -0.9px;
    }
  }
}

.block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  padding-right: 80px;
  border-radius: 20px;
  border: 1px solid $ligthGray;
  background: rgba(227, 227, 227, 0.2);
  p {
    color: $black;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: -0.48px;
  }
}
.block--empty {
  background: none;
  border: none;
}

.footer {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: $black;

  &__top {
    padding-left: 40px;
    padding-right: 40px;
  }
  &__top-wrapper {
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid rgba(227, 227, 227, 0.2);
    padding-bottom: 207px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 47.28% 49.46%;
    gap: 24px;
    background-image: url('../assets/svg/footer-company-name.svg');
    background-repeat: no-repeat;
    background-position: left 0 bottom 40px;
  }
  &__bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__bottom-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__col-heading {
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 0.5);
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 290px);
    row-gap: 24px;
    column-gap: 20px;
  }

  &__nav-link {
    color: $white;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.54px;
  }

  &__tel-link {
    color: $white;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -1.44px;
  }

  &__col-item {
    p {
      color: $white;
      leading-trim: both;
      text-edge: cap;
      font-family: $mainFont;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.54px;
    }
    &:first-child {
      margin-bottom: 80px;
    }
  }

  &__col-group {
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 80px;
    p {
      color: $white;
      leading-trim: both;
      text-edge: cap;
      font-family: $mainFont;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.54px;
    }
  }

  &__link {
    color: $white;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.54px;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 20px;
    &-link {
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__bottom {
    padding: 40px 40px;
  }

  &__copyrights {
    margin-right: auto;
    color: $ligthGray;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
  }

  &__bottom-menu {
    margin-right: 293px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__bottom-link {
    color: $ligthGray;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
  }

  &__madeby {
    color: $ligthGray;
    text-align: right;
    leading-trim: both;
    text-edge: cap;
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
    b {
      color: $white;
      leading-trim: both;
      text-edge: cap;
      font-family: $mainFont;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.48px;
    }
  }
}
