$wrapperWidth: 1840px;

$mainFont: 'Montserrat', sans-serif;
$addFont: 'Magistral', sans-serif;

$darkGreen: #01684f;
$green: #2f8b46;
$lightGreen: #59b031;
$ligthGray: #e3e3e3;
$black: #1b1719;
$white: #fafafa;

$brandGradient: linear-gradient(90deg, #59b031 0%, #01684f 100%);

$headerZIdx: 5;
$overlayZIdx: 6;

$defaultTransitionTime: 0.23s;
